{% extends 'base.html.twig' %}

{% block title %}Strona Główna{% endblock %}

{% block body %}
<h1>Strona Główna</h1>
<nav>
    <ul>
        <a href="articles">
            <li>Artykuły</li>
        </a>
        <a href="/about-me">
            <li>O mnie</li>
        </a>
        <a href="/contact">
            <li>Kontakt</li>
        </a>
    </ul>
</nav>
<h2>Ostatni Artykuł</h2>
{% include "blog/_article_teaser.html.twig" with {article: lastArticle} %}
{# <a href="article/{{ lastArticle.id }}">
    <strong>{{ lastArticle.title }}</strong>
    <p>{{ lastArticle.content | slice(0, 200) ~ '...' }}</p>
</a> #}
{% endblock %}