{% extends "base.html.twig" %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<nav>
    <ul>
        <a href="/">
            <li>Main Page</li>
        </a>
    </ul>
</nav>
<h1>{{ article.title}}</h1>
<div>
    {{ article.content }}
</div>
{% endblock %}