{% extends "base.html.twig" %}

{% block title %}
Artykuły
{% endblock %}

{% block body %}
<h1>Witam Cię w moich artykułach!</h1>
<div>
    {% for article in articles %}
    {% include "blog/_article_teaser.html.twig" with {article: article} %}
    {% endfor %}
</div>
{% endblock%}