{% extends "base.html.twig" %}

{% block title %}
Artykuły
{% endblock %}

{% block body %}
<nav>
    <ul>
        <a href="/">
            <li>Main Page</li>
        </a>
    </ul>
</nav>
<h1>Witam Cię w moich artykułach!</h1>
<div>
    {% for article in articles %}
    {% include "blog/_article_teaser.html.twig" with {article: article} %}
    {% endfor %}
</div>
{% endblock%}