{% extends 'base.html.twig' %}

{% block title %}Kontakt!{% endblock %}

{% block body %}
<h1>Informacje o mnie</h1>
{% for item in contactInfo %}
<p><b>{{ item.key }}:</b> {{ item.value }}</p>
{% endfor %}


{% endblock %}