<nav>
    <ul>
        <a href="/">
            <li>Strona główna</li>
        </a>
        <a href="articles">
            <li>Artykuły</li>
        </a>
        <a href="/about-me">
            <li>O mnie</li>
        </a>
        <a href="/contact">
            <li>Kontakt</li>
        </a>
    </ul>
</nav>